{% extends "layout.twig" %}

{% block content %} 
    <hr>
    <h1 class="border-bottom-gray p-2 mt-2 text-center" >Dashboard</h1>
    <hr>
    {% if responseMessage %}
    <div class="alert alert-primary" role="aler">
            {{ responseMessage }}
    </div>
    {% endif %}

{% endblock %}